

/.idea
/Dataloaders/__pycache__/
/model/__pycache__/
/model/blocks/__pycache__/
/model/utils/__pycache__/
/lightning_logs
/logs
/outputs
/wandb

/Datasets/*
/checkpoints/*
/test.py
/slurm_start.sh
/env.yaml
/notes
